/**
 * 瀹氫箟涔板涓績鏍峰紡
 * @Jason
 * 
 * Apr-01-2012
 **/
body {
	background-attachment: scroll;
	background-color: #BDF4FB;
	background-image: url(skin04/body_bg.jpg);
	background-repeat: no-repeat;
	background-position: center 80px;
}
